<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
</head>
<body>

<div style="border: 5px solid #ddd;padding:10px;margin-bottom:20px;">

    <a href="http://localhost:8080/login">Exit</a>

</div>
<form th:method="POST" th:action="@{/registration}" th:object="${addUser}">

    <label for="userName">UserName:</label>
    <input type="text" th:field="*{username}" id="userName">
    <br/>

    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/>

    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>

    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <label>Role:
        <select multiple size="2" name="select_role" class="form-control" id="exampleFormControlSelect3">
            <option th:each="role : ${allRoles}" th:value="${role.getName()}"
                    th:text="${role.getAuthority() == 'ROLE_ADMIN'} ? 'ROLE_ADMIN' : 'ROLE_USER'"></option>
        </select>
        <br/>

        <input type="submit" value="Create!"/>
    </label>
</form>
</body>
</html>
