<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<div align="center">
  <h2>User Service</h2>
  <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
  <h3><a href="/new">New User</a> </h3>
  </div>
  <table border="1" cellpadding="6">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Password</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    <tr th:each="user : ${userList}">
      <td th:text="${user.id}">ID</td>
      <td th:text="${user.name}">Name</td>
      <td th:text="${user.password}">Password</td>
      <td th:text="${user.email}">Email</td>
      <td th:text="${user.rolesString}">Roles</td>
      <td>
        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        <a th:href="@{/editUser{id}?(id=${user.id})}">Edit</a>
        <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
        </div>
      </td>
    </tr>
  </table>
  <div><a href="/user">User Page</a></div>
  <div></div>
  <div><a href="#" th:href="@{/logout}">Log Out</a></div>
</div>
</body>
</html>
