<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
  <div aling="center">
    <h2>Edit User</h2>
    <form th:action="@{/update}" method="post" th:object="${user}">
      <table>
        <tr>
          <td>ID: </td>
          <td th:text="${user.id}"></td>
          <input type="hidden" name="id"  th:field="*{id}" value="$*{user.id}">
        </tr>
        <tr>
          <td>Name: </td>
          <td><input type="text" th:field="*{name}" id="name" /></td>
        </tr>
        <tr>
          <td>Password: </td>
          <td><input type="text" th:field="*{password}" id="password"></td>
        </tr>
        <tr>
          <td>Email: </td>
          <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        <tr>
          <p>
            <td>Roles:
              <td>
                <input type="checkbox" name="roleList"
                     th:each="role: ${roleList}"
                     th:text="${role.role}"
                     th:value="${role.role}"
                     th:field="*{roles}"
                />
              </td>
            </td>
          </p>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Update"></td>
        </tr>
      </table>
    </form>
    <div><a href="#" th:href="@{/logout}">Log Out</a></div>
  </div>
</body>
</html>