<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>New User</title>
</head>
<body>
  <div aling="center">
    <h2>New User</h2>
    <form action="/save" method="post" th:object="${user}">
      <table>
        <tr>
          <td>Name: </td>
          <td><input type="text" th:field="*{name}" id="name" /></td>
        </tr>
        <tr>
          <td>Password: </td>
          <td><input type="text" th:field="*{password}" id="password"></td>
        </tr>
        <tr>
          <td>Email: </td>
          <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        <tr>
          <p>
            <td>Roles:</td>
            <td>
              <input type="checkbox" name="roleList"
                     th:each="role: ${roleList}"
                     th:text="${role.role}"
                     th:value="${role.role}"
                     th:field="*{roles}"
              />
            </td>
          </p>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Add User"></td>
        </tr>
      </table>
    </form>
  </div>
<a href="#" th:href="@{/logout}">Log Out</a>
</body>
</html>
